img{
	width: 100%;
}
body{
	background-color: #E5E5E5;
}
header{
	background: linear-gradient(0,#fe6433,#f53e3d);;
}
.header-navbar-list{
	list-style: none;
	padding-left: 0;
	margin-top: 4px;
	display: flex;
}
.header-navbar-list li a{
	color: white;
	text-decoration: none;
}
.header-navbar-item{
	margin: 0 10px;
	position: relative;
	
}
.header-qr{
	width: 186px;
	border-radius: 2px;
	background: var(--white-color);
	padding: 8px;
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	z-index: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.carousel-wrapper{
	margin-top: 20px;
}
.header-qr-img{
	max-width: 100%;
}

.header-qr-apps{
	display: flex;
	justify-content: space-between;
}
.header-navbar-item-has-qr:hover .header-qr{
	display: block;
}
.header-navbar-list .header-navbar-item a:hover{
	cursor: pointer;
	color: rgba(255,255,255,0.7);
	list-style: none;
}
.header-navbar-item-no-pointer{
	color: var(--white-color);
	cursor: text;
}
.header-qr-download-img{
	height: 16px;
}
.header-navbar-list .header-navbar-item a{
	color: white;
}
.header-links .header-navbar-list .header-navbar-item a:hover{
	cursor: pointer;
	color: rgba(255,255,255,0.7);
}
/* end container */
.container-fluid .navbar-brand img{
	width: 150px;
	height: 100px;
	border-radius: 5px;
}
.form-control{
	width: 730px;
	height: 40px;
}
.btn-outline-success {
    background-color: white;
	border-color: black;
	margin-left: 5px;
	z-index: 100;
}
.btn-outline-success:hover{
	background-color: blue;
}
.buynow{
	margin-top: 30px;
	font-size: 30px;
}
.buynow a{
	color: white;
	border-radius: 1px black solid;
}
.form{
	margin-top: 7px;
	height: 30px;
}
     /* end header */
		/* section */
section{
	margin-top: 50px;
}		
.list-group{
	width: 300px;
}
.list-group .list-group-item a{
	color: black;
}
.list-group .list-group-item a:hover{
	color: #EE4D34;
	cursor: pointer;
}
.list-group .list a{
	font-size: 20px;
	color: #EE4D34;
}
.col-2{
	margin-left: -100px;
}
.col-10{
	margin-top: -300px;
	margin-left: 250px;
	padding-right: 40px;
	background-color: white;
}
.nav-item{
	margin-left: 10px;
}
.card:hover img{
	transform: scale(1.1);
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0,0.05);
	transition: linear 0.5s;
}
.card{
	overflow: hidden;
}
.home-product-item-action{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


i.home-product-item-icon-like-fill{
	display: none;	
	color: #f63d30;
}
.home-product-item-like--liked .home-product-item-icon-like-empty{
	display: none;
}

.home-product-item-like--liked .home-product-item-icon-like-fill{
	display: block;
}

.home-product-item-rating{
	width: 200px;
	font-size: 15px;
	transform: scale(0.8);
	transform-origin: right;
	color: yellow;
	margin:-1px 0 0 auto;
}
.home-product-item-origin{
	display: flex;
	justify-content: space-between;
	margin: 3px 10px 0;
	color: #595959;
	font-weight: 300;
}
.home-product-item-favourite{
	position: absolute;
	top: 15px;
	left: -4px;
	width: 90px;
	height: 50px;
	background: red;
	font-weight: 500;
	line-height: 20px;
	height: 25px;
	padding-right: 5px;
	border-radius: 3px;
}
.home-product-item-favourite .fa-check{
	width: 100px;
	color: white;
	font-size: 15px;
	padding-left: 5px;
}
.home-product-item-sale-off{
	position: absolute;
	top: 50px;
	left: 0;
	width: 40px;
	height: 50px;
	background: rgba(255, 216, 64, 0.94);
	text-align: center;
	border-top-right-radius: 2px;
}
.home-product-item-price-old {
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}
.home-product-item-price-current {
    color: #DC3545;
    margin-left: 10px;
}
.home-product-item-name{
	color: black;
	font-weight: 700;
}
.products{
	margin-top: 50px;
}
.products img{
	width: 222px;
	height: 222px;
}
.col-3 button{
	margin-top: 10px;
}
.form-font .col-3 a{
	text-decoration: none;
}
form{
	position: relative;
}
/* search */
.valsearch{
	position: absolute;
	z-index: 1000;
	top: 40px;
	width: 300px;
}
.img-search img{
	width: 100%;
	height: auto;
}
.font-search{
	font-size: 15px;
}
.name-food{
	color: blue;
}
.money-food{
	color: red;
}
/* end search */
.switch-pages{
	margin: auto;
	margin-top: 50px;
}
.switch-pages .btn-outline-secondary{
	margin: 10px;
	border: 50%;
}
/* end section */
footer{
	background-color: white;
	width: 100%;
	height: auto;
	margin-top: 100px;
	border-top: black 2px solid;
}
footer .container .row ul li a{
	text-decoration: none;
	font-size: 18px;
}
footer .container .row .col-3{
	margin-top: 30px;
}
footer .container .row .footer-heading{
	font-size: 20px;
	font-weight: 700;
}
footer .container .row .col-3 img{
	width: 100px;
	height: 100px;
}
footer .container .row .col-3 ul li{
	list-style: none;
}
footer .container .row .col-3 ul li a{
	color: gray;
}
footer .container .row .col-3 ul li a:hover{
	color: red;
}
footer .container .row .col-3 .footer-download-app-img{
	width: 100px;
	height: 50px;
	z-index: 1000;
}
.footer-app{
	position: relative;
}
.footer-download-apps{
	position: absolute;
	top: 30px;
	left: 150px;
}
.show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }
